html {
    height: 100%;
}

body {
    height: 100%;
    /* background-image: url(/bg.jpg);
    background-size: cover;
    background-position: center;
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left); */

}